<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureMLRecommendationsEmail" value="[Enter your Azure ML Recommendations API Email]"/>
    <add key="AzureMLRecommendationsAccountKey" value="[Enter your Azure ML Recommendations API Account Key]" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
